body {
    font-family:'ppfg', Courier, monospace;
    background: var(-cor-padrao);
}

body::before{
    content:'';
    background-image: url("../imagens/the-power-puff-girls-hearts.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;  /*tira o elemento do centro da pg, destacar por cima da folha */
    width: 120%;
    height: 130%;
    opacity: 0.5;
}

main {    /* tag principal do site  */
    min-height: 100vh;   /* altura minima */
    display: flex;   /* ESTUDAR - ajuda a posicionar elementos no site  */
    flex-direction: column;   /* elementos um embaixo do outro */
    justify-content: center;   /* Justifica o conteúdo, texto tbm  */
}

.cabecalho {
    z-index: 1;
    display: flex;   /* Propriedade de pai e filho */
    justify-content: center;
}

.cabecalho .titulo {
    color: var( --cor-titulo-fraco); 
    text-transform: uppercase;
    font-size: 52px;
    line-height: 102px;   /* altura linha  */
    -webkit-text-stroke: 2px var(--cor-titulo-forte)  /* funcione em mais navegadores */
}

.selecao-de-personagens{
    display: flex; 
    align-items: center;  /* alinhar os elementos vertival ou horizontal no centro  */
    justify-content: center;
}

.selecao-de-personagens .personagem-grande {
    text-align: center;
    width: 30%;
    height: 90vh;
    position: relative;
}

.selecao-de-persongens .personagem-grande img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);      
}

.selecao-de-personagens .personagem-grande .nome::before{
    content: '';
    height: 15px;
    width: 100%;
    position: absolute;
    bottom: -15px;
    left: 0;
 }

.selecao-de-personagens .personagem-grande .nome h2{
    color: var(--cor-padrao);
    font-family:'command', sans-serif;
    position: absolute;
    bottom: -15px;
    width: 100%;
    font-size: 27px;
    background-color: var(--cor-azul-principal)
}

.selecao-de-personagens .personagem-grande.personagem-jogador-1 .nome::before{
    background-color: var(--cor-verde-fraco);
}

.selecao-de-personagens .personagem-grande.personagem-jogador-2 .nome::before{
    background-color: var(--cor-azul-principal);
}

.selecao-de-personagens .lista-de-personagens {
    display: flex;
    flex-wrap: wrap; /*quando a tela for muito pequena, o próprio navegador quebra os elementos para baixo*/
    max-width: 400px; /*largura máxima */
    justify-content: center; /* alinha horizontamente os elementos*/
    gap: 12px; /* espaçamento entre os itens filhos */
}

.selecao-de-personagens .lista-de-personagens .personagem{
    border: 2px solid var(--cor-padrao);  /* Borda */
    background-color: var(--cor-padrao); 
    width: 30%;  /* largura  */
    height: 160px; /*Altura */
    cursor: pointer;  /* clicar nas imagens*/
    z-index: 2;  
    border-radius: 6px;  /* Borda arredondada */
    position: relative;  /* Relativo a cada item da lista */
    transition: 0.15s ease-in-out;  /* Tipo de animação | efeito zoom */
}

.selecao-de-personagens .lista-de-personagens .personagem img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.selecao-de-personagens .lista-de-personagens .personagem.selecionado{
   border: 2px solid ;
   animation: c-glowing-blue .3s ease-in-out infinite;
   animation-direction: alternate; /*ciclo de animação, para efeito de glowing piscando em azul*/
}

.selecao-de-personagens .lista-de-personagens .personagem:hover{
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
    transform: scale(1.07); /*efeito de zoom na animação*/
    z-index: 2; /*sempre por cima, efeito */
}

.selecao-de-personagens .lista-de-personagens .personagem.jogador-2-selecionado{
    border: 2px solid var(--cor-vermelha-fraca);
    animation: c-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}

.selecao-de-personagens .lista-de-personagens .personagem.jogador-2-selecionado:hover{
    animation: c-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}

.selecao-de-personagens .lista-de-personagens .personagem .tag{
    display: none; /*esconder o 1p, 2p*/
    font-family: 'Times New Roman', Times, serif;
    position: absolute; /*por cima da imagem */
    top: 5px; 
    left: 5px; 
    color: var(--cor-azul-media);
    transition: opacity .3 ease-in-out;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.selecao-de-personagens .lista-de-personagens .personagem.selecionado .tag{
    display: block;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.selecao-de-personagens .lista-de-personagens .personagem.jogador-2-selecionado .tag{
    display: block;
    animation: text-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}






