:root {
    --cor-rosa-principal: #e70883;
    --cor-rosa-medio: #d139e6;
    --cor-rosa-fraca: #e179da;

    --cor-verde-fraco: #21e6a1;

    --cor-azul-principal: #0271F7;
    --cor-azul-media: #676dc5;
    --cor-azul-fraca: #8fbff8;

    --cor-roxa-fraca: #9050ae;

    --cor-titulo-fraco: #ec5bcd;
    --cor-titulo-forte: #9a0a84;

    --cor-padrao: #ffffff;
    --cor-secundaria: #e4bee7;
}